<div class="container">
  <div class="row">
    <div class="col">
      <div class="">Erins notes on editorial method for transcription
The original spelling is preserved with the following editorial considerations:
	Use of ff to begin words (e.g. ffirst) standarized to f.
	Duplication of words (e.g. of of) silently emended.
	Word spacing standardized according to modern conventions.
	Capitalization standardized to modern conventions.
	u/v and i/j adjusted to modern conventions.
	[. . .] is used in areas where text is lost or illegible due to staining and damage.
	Square brackets also used to indicate assumptions of obscured or missingwords/letters, e.g. w[o]man.
	Emended words were informed by the orthography of the text and footnoted.
	There is no paragraphing and minimal punctuation in the original text. Punctuation is largely limited to indicating breaks in words between lines. Modern punctuation conventions have been applied for readability, including the addition of possessive apostrophes, e.g. childs scull, midwifs hand, Lords healp.
	Abbreviation & expanded to and
	Abbreviation nw expanded to now
	Abbreviation yt expanded to that
	Abbreviation yn expanded to then or than
	Abbreviation ye expanded to the

</div>
</div>
</div>
</div>
