<div class="row">
  <div class="col">
    <h2 class="text-center">Dr. Zerubbable Endecott’s book Synopsis Medicinae</h2>
      <h3 class="text-center">Introduction</h3>
        <h4 class="text-center">By William T. Endicott JEFA President</h4>
          <p class="pt-3">Welcome to a display of all 80 pages of the original manuscript of our ancestor Dr. Zerubbable’s medical book Synopsis Medicinae.  As you’ll see, it is in 40 folio pages (two of the original manuscript pages comprise one folio page) with a transcription underneath.  And by swiping your finger you can “turn” one page to the next one.  </p>
          <p>I believe this display is significant for several reasons.  First, these
          medical books have a low survival rate, so Dr. Z’s book is a rare early example of a colonial surgeon's notebook.  Secondly, digitizing it and making it freely accessible online is a great step forward for scholarship. And lastly, while there is a 1914 transcription of the book, about 25 percent of it–all about obstetrical notes–was omitted until now, and so far, we've not even found any other publications or mentions of it. So this is the first full transcription of the book that we know of.</p>
          <p>How the publication came about is a bit of serendipity.  JEFA had engaged the New England Historical Genealogical Society to research the origin of the Endicott Coat of Arms as well as the personal seals of Governor John Endecott.  They assigned Dr. Erin Connelly to undertake both projects and she produced a report, the major findings of which are recounted in the JEFA newsletter for the fall of 2020 (see https://endecottendicott.com/wp-content/uploads/2021/01/JEFA-News-Vol-13-No-2-fall-winter-2020.pdf, pages 27-29).</p>
          <p>Erin did a great job for us and I saw in her bio that she was a specialist in medieval medicine, which I filed away in the back of my head.  Later, after she had moved to London to accept a new job, I recalled that John Endecott’s son, Zerubbable (he actually spelled it Zerobabel) had written a treatise on medicine, but I had never seen it.</p>
          <p>I went online and found that a 1914 transcription of it existed and can be found at archive.org: https://archive.org/details/cu31924012480681. It was done by George Francis Dow and his forward to it contains interesting information about the life of Dr. Z as well as of other medical people who were Dr. Z’s contemporaries.  </p>
          <p>It then occurred to me that Erin might be interested in writing a “review” of Dr. Z’s book. She was, and wrote a fascinating piece, also in the Fall 2020 JEFA Newsletter (see the expanded version of that story at https://endecottendicott.com/wp-content/uploads/2021/01/Endecott-Book-of-Remedies_21Dec2020.pdf). </p>
          <p>But being the scholar she is, Erin wanted to see if the original existed and if it did, to make sure that the transcription was accurate. Then she actually located the original, which is in the possession of the Massachusetts Historical Society.  Until then, I did not know the original manuscript existed. </p>
          <p>How did Erin know where to look for the original text? Here’s what she told me:</p>
          <p>I knew that Dow had made his transcription from the manuscript when it was still in the private possession of Francis Lewis Gay, who had purchased the book ––Dow says this in the introduction to the 1914 transcription.  I also knew that only a few institutions hold Endicott family papers (MHS, Phillips Library, Judicial Court Archives), so I searched to find out what happened to the Gay collection after his death and found it was donated to MHS by his widow (Gay was a member of MHS). It only took a few minutes to find it with that info. MHS has a good online catalogue. You can see it here and Dr. Z's book is the first one listed on section II 'Bound Volumes' if you scroll down: https://www.masshist.org/collection-guides/view/fa0363</p>
          <p>After examining the original, Erin discovered that about 25 percent of the book that we have today (some of it has been lost) had not been transcribed, so she transcribed it herself–– to our knowledge the first time this part has ever been transcribed.  I have placed her transcription in the proper place in the 1914 transcription, which is part of the JEFA display of Synopsis Medicinae.</p>
          <p>The missing material Erin transcribed was obstetrical notes and since my brother-in-law Dr. David Bingham is an obstetrician, I asked him to comment on them and this is what he said:</p>
          <p>The three pictures and the descriptions of how he applies them appear to be: </p>
            <p>* An instrument for dilating the cervix (by squeezing the handle, which seems to have a metal spring in it to keep the jaws together while the instrument is being introduced into the canal of the cervix.  Similar cervical dilators are still used today. </p>
            <p>* A piercing instrument for entering the skull of a dead fetus to provide entry for a hook instrument to grasp it for removal (a pretty gruesome procedure, but could well be life-saving for a woman that may have been in labor for days). When women are very weak from exhaustion, a C-section in those days would likely not be survivable. </p>
            <p>* A ring which allows a ligature (a loop of string/cord) for tying/pulling together two other instruments or perhaps to grasp fetal parts.  </p>
            <p>I presume the doctor was often only being called by midwives after labor was very long and the fetus had died during labor or beforehand. Often this was due to a pelvis that is just too small for the birth of the child, so that only a destructive approach would permit it to be extracted vaginally.</p>
          <p>The last descriptions in the narrative seem to include instruments that may have been early forceps that help to guide the head out, and there is an indication that this might well have saved the life of the child as well as the woman in labor. The first forceps were used by surgeons in 1569, so by the 1600’s I presume they were widespread, with numerous different versions/sizes/shapes used by different doctors, who have continued to experiment to make better ones right up to modern times, a sign that none work well for all situations, and a reason that C-section has become the preferred delivery method for most difficult labors today.</p>
          <p>Erin and I are excited by the “discovery” of the original of Dr. Z’s book, believe that it deserves to be published, and the JEFA is most fortunate to be the one doing so.  As Dr. Bingham put it: “Trial and error. By having things down in writing, medicine can build on the past. Books like that have been a major advance.”</p>
          <p>Beside Erin, I want to thank two other people who have made this project possible.  First there is Hannah Elder at MHS for taking the time to make electronic copies of the pages of the book as well as arranging for us to have MHS’s permission to publish them.</p>
          <p>I also want to thank Michelle Hartley who created the new JEFA website. Also, for visually formatting the presentation of Dr. Z’s book.</p>
  </div>

  <div class="section">
    <div class="card bg-danger ml-5 mr-5 pl-3">
      <h1 class="card-text h4 pt-3">Erin’s notes on editorial method</h1>
      <h2 class="card-text h5">The original spelling is preserved with the following editorial considerations:</h2>
        <p class="card-text">Use of ff to begin words (e.g. ffirst) standarized to f </p>
        <p class="card-text">Duplication of words (e.g. of of) silently emended </p>
        <p class="card-text">Word spacing standardized according to modern conventions</p> 
        <p class="card-text">Capitalization standardized to modern conventions </p>
        <p class="card-text">u/v and i/j adjusted to modern conventions </p>
        <p class="card-text">[. . .] is used in areas where text is lost or illegible due to staining and damage </p>
        <p class="card-text">Square brackets also used to indicate assumptions of obscured or missing words/letters, e.g. w[o]man</p>
        <p class="card-text">Emended words were informed by the orthography of the text and footnoted </p>
        <p class="card-text">*There is no paragraphing and minimal punctuation in the original text. Punctuation is largely limited to indicating breaks in words between lines. Modern punctuation conventions have been applied for readability, including the addition of possessive apostrophes, e.g. childs scull, midwifs hand, Lords healp </p>
        <p class="card-text">Abbreviation for and expanded to and </p>
        <p class="card-text">Abbreviation nw expanded to now </p>
        <p class="card-text">Abbreviation yt expanded to that </p>
        <p class="card-text">Abbreviation yn expanded to then or than </p>
        <p class="card-text">Abbreviation ye expanded to the </p>
    </div>
  </div>
</div>
