<div class="section article-headings">
  <div class="row">
    <div class="col">
      <h2 class="my-lg-4 pl-5 text-white text-center">Dr. Zerubbable Endecott’s Book Synopsis Medicinae</h2>
    </div>
  </div>
</div>