<div class="section article-headings">
  <div class="row">
    <div class="col">
      <h2 class="my-lg-4 pl-5 text-white text-center">Dr. Zerubbable Endecott’s Book Synopsis Medicinae</h2>
    </div>
  </div>
</div>


<div class="container-lg pt-3">
  <div class="row">
    <div class="col">
      <h3 class="text-color-blue text-center">Introduction</h3>
      <h4 class="text-color-blue text-center">By William T. Endicott - JEFA President</h4>
    </div>
    <div class="row pt-1">
      <p class="font-weight-bold pt-3">This is a display of all 96 images of the Massachusetts Historical Society’s photographs of the original manuscript of Dr. Zerubbable Endecott’s book of medical recipes called Synopsis Medicinae. </p>
      <p class="font-weight-bold pt-3">Zerubbable (1635-1684) or "Dr. Z", as his descendants call him, is the second son of Gov John Endecott. All descendants, of the Governor, descend through Dr. Z’s ten children. The Governor’s eldest son John had no children. </p>
      <!-- <button type='btn btn-info' data-toggle='tooltip' title="To see images scroll to bottom of page">
        Book Images
      </button> -->
      <div class="card bg-info text-white" >
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="card-img"><%#= image_pack_tag "media/images/introduction.jpg" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h3 class="card-title text-center">Book Display</h3>
              <p class="h4 card-text text-wrap">Contains forty-eight folio pages (two of the manuscript images comprise one folio page) with a transcription underneath.
                <ul>
                  <li><p class="h5 h5 card-text">85 images contain text</p></li>
                  <li><p class="h5 card-text">  1 pen trials</p></li>
                  <li><p class="h5 card-text">  3 book covers</p></li>
                  <li><p class="h5 card-text">  7 blank pages</p></li>
                </ul>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <h2 class="h3 text-color-blue">Significance</h2>
          <p>I believe this display is significant for several reasons. First, these medical books have a low survival rate, so Dr. Z’s book is a rare early example of a colonial surgeon's notebook.  Secondly, digitizing it and making it freely accessible online is a great step forward for scholarship.  Thirdly, while there was a 1914 transcription of the book, it had serious problems that have been rectified in the transcription we are now offering.  So this is the first full transcription of the book that we know of.  And lastly, we have not found any other publication of the book or even a mention of it.</p>
          <p>Jessica Murphy, the librarian at the Center for the History of Medicine at the Harvard Medical School's Countway Library, believes Dr. Z's work is likely one of the oldest original manuscripts of doctor's notes from colonial New England that exist but the research is ongoing.</p>
          <h2 class="h3 text-color-blue">How it happened</h2>
          <p>How the publication came about is a bit of serendipity. JEFA had engaged the New England Historical Genealogical Society to research the origin of the Endicott Coat of Arms as well as the personal seals of Governor John Endecott. They assigned Dr. Erin Connelly to undertake both projects and she produced a report, the major findings of which are recounted in the JEFA newsletter for the fall of 2020 (see https://endecottendicott.com/wp-content/uploads/2021/01/JEFA-News-Vol-13-No-2-fall-winter-2020.pdf, pages 27-29).</p>
          <p>	Erin did a great job for us and I saw in her bio that she was a specialist in Medieval Medicine, which I filed away in the back of my head. Later, after Erin moved to London to accept a new job, I recalled that John Endecott’s son, Zerubbable (he actually spelled it Zerobabel) had written a treatise on medicine, but I'd never seen it.</p>
          <p>	I found George Francis Dow's 1914 transcription at: archive.org: https://archive.org/details/cu31924012480681.  In his forward, Dow gives interesting information about the life of Dr. Z, as well as other medical contemporaries of Dr. Z.</p>
          <p>It then occurred to me that Erin might be interested in writing a “review” of Dr. Z’s book.  She was, and wrote a fascinating piece, also in the Fall 2020 JEFA Newsletter (see the expanded version of that story at https://endecottendicott.com/wp-content/uploads/2021/01/Endecott-Book-of-Remedies_21Dec2020.pdf). Reading Erin's article before examining the book in this display would be beneficial.</p>
          <p>Erin finds original text<p>
          <p>Erin being a scholar, wanted to see if the original existed. If so, she wanted to ensure the transcription was accurate. Erin located the original, which is in the possession of the Massachusetts Historical Society.  Until then, I wasn't aware of the original manuscripts existance.</p>
          <p>How did Erin know where to look for the original text?  Here’s what she told me:</p>
          <p>I knew that Dow had made his transcription from the manuscript when it was still in the private possession of Francis Lewis Gay, who had purchased the book ––Dow says this in the introduction to the 1914 transcription.  Knowing only a handful of institutions hold Endicott family papers (MHS, Phillips Library, Judicial Court Archives), curious about what happened to the Gay collection after his death and found it was donated to MHS by his widow (Gay was a member of MHS). It only took a few minutes to find it with that info. MHS has a good online catalogue. Dr. Z's book listing can be found <a href="https://www.masshist.org/collection-guides/view/fa0363"></a> Detailed Description of the Collection section II 'Bound Volumes' first one listed on section II 'Bound Volumes' if you scroll down: https://www.masshist.org/collection-guides/view/fa0363</p>

        <h2 class="h3 text-color-blue">Obstetrical notes</h2>
          <p>Erin examined the original and discovered Dow had not transcribed about 25 percent of the book that we have today (some lost to time). Erin transcribed it herself. –– to our knowledge the first time this part has ever been transcribed.  I have placed her transcription in its proper place in the JEFA display of Synopsis Medicinae.</p>
          <p>	The missing material Erin transcribed was obstetrical notes. My brother-in-law Dr. David Bingham is an obstetrician, I asked him to comment on obstetrical notes and this is what he said:
          <p>David's descriptions of the three images.
          <p>* An instrument for dilating the cervix. By squeezing the handle, which seems to have a metal spring in it to keep the jaws together while the instrument is being introduced into the canal of the cervix.  Similar cervical dilators are still used today.
          <p>* A piercing instrument for entering the skull of a dead fetus to provide entry for a hook instrument to grasp it for removal. A pretty gruesome procedure, but could well be life-saving for a woman that may have been in labor for days.  When women are very weak from exhaustion, a C-section in those days would likely not be survivable.</p>
          <p>* A ring which allows a ligature (a loop of string/cord) for tying/pulling together two other instruments or perhaps to grasp fetal parts.
          <p>I presume the doctor was often only being called by midwives after labor was very long and the fetus had died during labor or beforehand. Often this was due to a pelvis that is just too small for the birth of the child, so that only a destructive approach would permit it to be extracted vaginally.</p>
          <p>The last descriptions in the narrative seem to include instruments that may have been early forceps that help to guide the head out, and there is an indication that this might well have saved the life of the child as well as the woman in labor. The first forceps were used by surgeons in 1569, so by the 1600’s I presume they were widespread, with numerous different versions/sizes/shapes used by different doctors, who have continued to experiment to make better ones right up to modern times, a sign that none work well for all situations, and a reason that C-section has become the preferred delivery method for most difficult labors today.</p>
          <p>Erin and I are excited by the “discovery” of the original of Dr. Z’s book, believe that it deserves to be published, and that the JEFA is most fortunate to be the one doing so.  As Dr. Bingham put it: “Trial and error.  By having things down in writing, medicine can build on the past. Books like Dr.Z's have been a major advance.”</p>
          <p class="text-color-blue">Thank-you’s
          <p>	Beside Erin, I want to thank two other people who have made this project possible. First, there is Hannah Elder, at MHS for taking the time to make electronic copies of the book. Also, arranging MHS’s permission for John Endecott Family Association to publish them.
              I also want to thank Michelle Hartley who created the new JEFA website, visually designed and formatted the digital presentation.</p>
      </div>
  </div>
</div>
