<div class="section pt-3">
  Notes on transcription of the missing part, the obstetrical notes:
<p>This transcription was produced via consultation with image reproductions.
  Text has been lost due to damage and staining, but other gaps may be filled in by examining the object, i.e. in some of the images corners of the pages are folded over text that may be revealed upon examination.
  For the moment, these are signified by [. . .] as they are not readable in the images.
<p>The pages of this section are bound upside down and backwards compared to the recipe portion of the manuscript. It may have existed a a separate manuscript initially and was bound together with the recipes later in its history.
  The manuscript is fragmentary and the pages are not numbered, so it is difficult to tell how much text is missing.
  Numbers have been added to the text below for an aid in reading and comparison with the manuscript.
The text pertains to removal of afterbirth (fragmentary), use of instruments and techniques for the removal of antepartum stillbirth, and assistance with delivery of a live birth. Six drawings of surgical instruments occur in the text.
These are recorded below by: *drawing of surgical instrument.* The text also refers to a medicine for labor and delivery, made of the dried
liver and gall of eels, attributed to Jan Baptist van Helmont (notable alchemist in the tradition of Paracelsus).</p>
</div>
