<div class='container'>
  <div class="row">
    <div class="col pb-5">
      <h1 class="h4">Guide to apothecaries' weights</h1>

<p>Apothecaries' weights refers to the historical system of units of measure used in preparing pharmaceutical recipes in the British Isles, Europe, and North America. The system persisted well into the later 20th century in the United States; it was replaced by the metric system as recent as 1971. Readers who completed their medical or pharmaceutical training in the US prior to this change may still be familiar with the apothecaries' symbols used in this text. The following is a brief guide to assist with interpreting the recipes.</p>

<p>As can be seen by such units as M (manipulus), as much as one can hold in a hand; P (pugill), a pinch; and cyathus, as much as one can easily drink at once, these are imprecise measures. However, they were suitable approximations for medical practitioners working primarily with plant parts (seeds, grains, gatherings of roots, leaves, or flowers) in a time before analytical chemistry and strict global medicine regulations, where some imprecision likely would not result in disastrous effects for the patient.</p>

<p>For medicines requiring more precision, the system employed standardized units. As Dr Z states in his own list of definitions, the grain (or grana) is the smallest unit of measure in this system followed by scruple, dram (or drachm), ounce, and pound (or libra). There are 20 grains in a scruple; 3 scruples in a dram; 8 drams in an ounce; and 12 ounces in a pound.</p>

<p>These measures have corresponding fluid units for liquids (usually indicated by 'f') with the base unit of the fluid system being a minim (equal to one grain or one drop of liquid; approx. 0.065 ml). The minim is not mentioned in Dr Z's text nor does he indicate when he intends a fluid measure, but this is likely because it is obvious where a fluid is being used and these are his personal notes not an official publication.</p>

<p>When writing the recipe, the apothecaries' symbol is followed by numerals indicating the amount. For example,  iii = 3 apothecaries' ounces. Often the numerals will be written as iij to prevent misreading of the amount.</p>

<p>The following table provides a quick guide to the terms and symbols employed by Dr Z:</p>



<!-- <div class="col pb-5">
<table>
  <thead>
    <tr>
      <th>Apothecaries Symbol</th>
      <th>Name in Text</th>
      <th>Translation</th>
      <th>Modern Equivalent <br>(approx.; in grams and liters)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>lb, li, libr.</td>
        <td>libra, pound</td>
        <td>apothecary's pound</td>
        <td>373.243 g</td>
        <td></td>
      </tr>
      <tr>
        <td>ss</td>
        <td>semis</td>
        <td> half</td>
         <td>half</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>	</td>
        <td>uncia, ounce, unce</td>
        <td> apothecary's ounce</td>
        <td>31.103 g</td>

      </tr>
      <tr>
        <td>Q	</td>
        <td>quarta</td>
        <td>quart</td>
        <td>between 0.95 and 1.16 liters</td>
      </tr>
      <tr>
        <td>	</td>
        <td>dragma, dram</td>
        <td> dram	</td>
        <td>3.888 g</td>
      </tr>
      <tr>
        <td>G	</td>
        <td> grana, grain</td>
        <td>grain	</td>
        <td>0.065 g (65 mg)</td>
      </tr>
      <tr>
        <td>A</td>
        <td>ana	</td>
        <td>of each one	</td>
        <td>of each one</td>
      </tr>
      <tr>
        <td>lb ss	</td>
        <td>libr. semi</td>
        <td>half an apothecary's pound</td>
        <td>186.623 g</td>
      </tr>
      <tr>
        <td> ss </td>
        <td>semuncia</td>
        <td>half an apothecary's ounce</td>
        <td>15.552 g</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!--
Apothecaries Symbol 	  Name in Text	       Translation	              Modern Equivalent (approx.; in grams and liters)

lb, li, libr.	          libra, pound	       apothecary's pound	         373.243 g
<td>ss</td>	                    <td>semis</td>	              <td> half</td>	                       <td>half</td>
<td></td>	                      <td>uncia, ounce, unce</td>	<td> apothecary's ounce</td>	         <td>31.103 g</td>
Q	                      <td>quarta	</td>             <td>quart </td>	                     <td>between 0.95 and 1.16 liters</td>

	                      <td>dragma, dram</td>	      <td> dram	</td>                       <td>3.888 g</td>

	                      <td>scrupulus, scruple</td>	 scruple </td>                  	 <td>1.296 g</td>

G	                     <td> grana, grain</td>	       <td>grain	</td>                     <td>0.065 g (65 mg)</td>

A	                      <td>ana	</td>                 <td>of each one	</td>               <td>of each one</td>

lb ss	                  <td>libr. semi</td>	         <td>half an apothecary's pound</td>	 <td>186.623 g</td>

 ss                  	<td>semuncia</td>	            <td>half an apothecary's ounce</td>	<td>15.552 g</td> -->
