  <div class="col-6 col-md-4 pt-5"> 
    <div class="card bg-info">
      <h4><center><%= link_to 'Apothecary weights', welcome_apothecary_path, class:"even-larger-badge badge badge-pill badge-peach-color text-white text-center" %></center></h4>
        <table class="table-responsive text-white">
          <h4 class="text-center text-white pt-2">Apothecary Symbols</h4>
            <p class="pl-2 text-white">*see abbreviations below table</p>
              <thead>
                <tr>
                  <th>Symbol</th>
                  <th>Name</th>
                  <th>TR (*)</th>
                  <th>ME (*)</th>
                  <th></th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>lb, li, libr.</td>
                    <td>libra, pound</td>
                    <td>apothecary's pound</td>
                    <td>373.243 g</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ss</td>
                    <td>semis</td>
                    <td> half</td>
                     <td>half</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>	</td>
                    <td>uncia, ounce, unce</td>
                    <td> apothecary's ounce</td>
                    <td>31.103 g</td>
                  </tr>
                  <tr>
                    <td>Q	</td>
                    <td>quarta</td>
                    <td>quart</td>
                    <td>between 0.95 and 1.16 liters</td>
                  </tr>
                  <tr>
                    <td>	</td>
                    <td>dragma, dram</td>
                    <td> dram	</td>
                    <td>3.888 g</td>
                  </tr>
                  <tr>
                    <td>G	</td>
                    <td> grana, grain</td>
                    <td>grain	</td>
                    <td>0.065 g (65 mg)</td>
                  </tr>
                  <tr>
                    <td>A</td>
                    <td>ana	</td>
                    <td>of each one	</td>
                    <td>of each one</td>
                  </tr>
                  <tr>
                    <td>lb ss	</td>
                    <td>libr. semi</td>
                    <td>half an apothecary's pound</td>
                    <td>186.623 g</td>
                  </tr>
                  <tr>
                    <td> ss </td>
                    <td>semuncia</td>
                    <td>half an apothecary's ounce</td>
                    <td>15.552 g</td>
                  </tr>
                </tbody>
        </table>
          <hr class="border-white">
            <p class="pl-2 text-white">Name = Name in Text</p>
            <p class="pl-2 text-white">TR = Translation</p>
            <p class="pl-2 text-white">ME = Modern Equivalent (approx.; in grams and liters)</p>
    </div>
  </div>
