<div class="container pb-3">
  <div class="row">
    <div class="col">
<h2 class="h3 text-color-blue pt-2">1. The Volatile Salt of Lead</h2>

Tak lead oar dissolve it in destilled vinegar and desolve salt in water; mix them and presently there will be sublimated a white powder; sweeten and dry well.

Note this salt laid upon a wedge of iron or file, melts like wax and fumes not. Langelot

20 [Grana make a scruple]
3 Scrupulus make [a dram]
8 Drams make an ounce
12 Ounces make a pound

M signifieth manipulus [and] is as much as one can hold in his hand

P signifieth pugill which is as much as one can take betwixt the thomb and the two formost fingers

Cyathus signifieth so much as one may easily drink at one draught

Libra hath this mark ----lb
Semis----------------------ss
Uncia--------------------- ℥
Quarta--------------------- Q
Dragma-------------------- ʒ
Scrupulus------------------℈
Grana----------------------- G
Ana of each one a little--A
Libr. Semi-----------------lb ss
Semuncia------------------℥ ss


[. . .]	[. . .]
[Nitre] 	[. . .] Salt
Venus	Salt Armonieck
A Crucible	Tarter
Mars	Vitreoull
Mercury	Urin
Saturn	Fire
Sulfer	Aire
Jubiter, tinn [. . .]	Water
Sol, the Sun, Gould 	Earth
Luna, the Moon, Silver	Day
Arsenick	Night
[. . .]
[. . .]
Vineger
Distilled Vineger
Crocus martis
Sublimate mercury


<h2 class="h3 text-color-blue pt-2">2. Being good for the [. . .] plague, bruses, poysons, cr</h2>

Tak clene wax a quarter of a [pound] cut it into smale peces. Put it into a pint of good sack. Put it all into an earthen pott and sett it over the fire. Melt the wax then put into it 1/2 [pound] of Venus tirpintine and a pint and half of sallat oyle. Let the tirpintine be washed in rose water, boyle al together till they be incorporated or till half a pint or more be wasted. Pour of the water and p[ut] into it an ounce of red sanders [of] very fine [p]owder then stir them together till they be colde. The dose is as much as a nutmeg or an ounce, acording to the age, strength of the patient or the disease, given in a cup of good sak. This is good also for smale pox or measels, for strangury or ulcers in the blader.


<h2 class="h3 text-color-blue pt-2">3. [. . .] Another receit of a plague water given me of a speciall freind who said keep it as your life and preferr it above all earthly treasure.</h2>

Take three pints of muskadine and boil in sage and rue of each a handfull till a pint be wasted. Then straine it, and set it over the fire againe and put into it of long pepper half an ounce and half an ounce of ginger and a quarter of an ounce of nutmeg beaten to fine powder and half an ounce of mithridate and half an ounce of treacle and a quarter of a pint of Angelica water and let it boyle a little while and put it in a glas being close stopped [keepe] it for your use. Take of this water 3 or 4 spoonfulls morning and evening warme or when [you] find your selfe not well.


<h2 class="h3 text-color-blue pt-2">4. For Wormes or a Purge or Vomit</h2>

Take pure tartar pulverized ℥ i, sugar or honey [℥ i], and spring water ℥ v or ℥ vi . Boyle all in a cleane copper vessel a little time = halfe a quarter of an houre. Scum it well in the boyling. Take it from the fire.

Image 10 (e_page_5-6_005) done

and [. . .] Let [. . .] then [. . .] keep you [. . .] in the hours time it will [. . .] working. For children take less according to their age and strength.


<h2 class="h3 text-color-blue pt-2">5. To Drive out Wormes by Purging</h2>

Take a little less quantitie of the things = above mentioned and boile it in a cleane iron vessell and let it boile a little longer and give it as above said and it will worke downwards and sometimes vomit very gently and very safe.

℥ i of white vitrioll taken and a good draught of ale or beer drunke after it purges by stool, which without the drink will vomit only.


<h2 class="h3 text-color-blue pt-2">6. For Costiveness: An Easy and a Rare Medicine</h2>

Stewed pruines and theyr syrup 2 h[ours] before dinner and wine and [. . .] mixed together a little before the [. . .] and a little after.


<h2 class="h3 text-color-blue pt-2">7. [. . .]</h2>

Take the leaves or roots of five finger and brambles and the roots of strawberys and planten, boyle them in water, straine them out and put to it a litle hony and gargle the mouth and throte and swallow a litle of it 2 or 3 or 4 times a day as hott as may be.

<h2 class="h3 text-color-blue pt-2">8. For the bloudy flux</h2>

Stone horses livers dried in an oven being heat for houshould bread, made into powder and given a spoonfull at a time in milk.

<h2 class="h3 text-color-blue pt-2">9. For the overflowing of the menstruis</h2>

Take the fine red powder of sumak as much as will ly on a shilling at twice in good wine, tent wine if it be to be had. Doe this once or twice or 3 times if need be. It have don great cures.


<h2 class="h3 text-color-blue pt-2">10. [. . .]</h2>
Take ʒ iii of [antimony] make it to very fine pouder, put it into a strong [crucible] and put to it as much rectified spirit of wine as will cover the [antimony] a finger's bredth. Then fitt a tile to the mouthe of the [crucible] and lute it well with potter's earth and sett it in hot ashes 12 howers then crease the fire till it be all red hott then will the [antimony] be turned red. If the preparation be not to your mind, you may repeat this operation 2 or 3 times. The dose is from 1 graine to

10 or 12: This is Capt Barefoot’s panacea.

<h2 class="h3 text-color-blue pt-2">11. For a Spraine</h2>

Take stronge bere, este and honye of equall quantyty and boyle them to the consistanty of honye and so aply it hott to the place greeved.




<h2 class="h3 text-color-blue pt-2">12. A [. . .] the black [. . .]</h2>

Tak a quart of the best sallet oyle and a pound of red lead. Beat and sift the lead. Stir it well into the oyl. Set it over a soft fire and keepe it stirring and when it begins to boyl put into it beeswax the quantity of a large walnut cut in smale pieces and when it begins to look black take it of the fire still stirring it till it hath done boyling then put in as much saffron mad into fine powder [as] will lie on a sixpence then powr it into wooden dishes first dipt in water.


<h2 class="h3 text-color-blue pt-2">13. [. . .]</h2>

Take of good [antimony] and beat it smale. Take also 2 pound of pure niter. Make it also to fine pouder. Mix them well. Then take a large crusible. Set it upon hot coles till it be red hott. Then cast in your mixture with a spoone a little at a time till it be all spent. Let it stand upon the fire of a good red heat for half an howre then take it of the fire and with a small spattula take it out of the vessell into a smale quan[ti]tie of warme water. Break it and wash it well then lett it stand and s[ink] to the bottom then powre of the cleer and keepe it for use. Put on more hott water, wash it welle and breake and grind all the clods. So wash and decant the water

till the [. . .] then dry it and [. . .] and ad to it pound i of good [niter] in fine pouder mixed as before and put it into a hott crusible and use it in all respects as befor. Wash and grind the clods till the water is no more salt then put it into warm water. Stir it about that the water may be thik as milk then poure it of into another vessel. Doe this till all your [antimony] that is prepared be poured of. Lett it stand and settle and powr of the cleere water till it be all off. Lett the pouder dry and keep it for use.

The dose is from 3 graines to 24 in feavers or any siknes or paine that requires swett. It is a strong cordiall and may be safly used for maids’ siknes and for women in child bed though the person be very weak. Let your work be

done [. . .] for [symbol for Venus; possibly intended antimony] will [. . .] vomit.


<h2 class="h3 text-color-blue pt-2">14. For the flux of the belly</h2>

Take anisseeds, liquerish, and ellecompaine roots beaten to powder and made into an electuary with hony and tak of before meat every an houre as much as a nutmeg or walnut if need be. Mr Alcok


<h2 class="h3 text-color-blue pt-2">15. For Extrem Thirst and Vomiting in a malignant feaver</h2>

Take salt of wormwood ℈ i and a spoonfull of the juce of lemonds mix them in a spoone and give it the patient.


<h2 class="h3 text-color-blue pt-2">16. For Stone in the Kidnes and Blader or to Provent it</h2>

Take wild carret seeds and boyle in ale and drinke dose ʒ ii every night.

An other: Take 3 Drops of oyle of fenill once a day.



<h2 class="h3 text-color-blue pt-2">17. For [. . .]</h2>

Take rasins of the soun stoned and figgs of each a pound mother [of] time, maiden haire, liverwort, comfree, elder buds, knot grase, sheperd's pouch, egrimony of each a handfull, hart's horne rasped a handfull. Boyle all in a gallon of good wort till 3 pints be wasted. Straine it out. Drink of it 3 times a day.


<h2 class="h3 text-color-blue pt-2">18. For the Dropsie often provd and espetially upon one man. Other meanes used by men of skill fayled this was affectuall</h2>

Tak good store of elder roots. Wash them and make them very cleane. Then splitt them and steepe them in strong ale wort and lett them stand together while the ale is working. Then when it is 2 days old drinke of it morning,


noone, and at night till health be obtained. Lett there be as many of the roots as can well be steeped in the ale. The flowers are of the same use and more powerfull

An other: Take rie flower make past with water. Role it thin and with the greene leaves of sage and a littl rosemary fill it as pye. Bake it very dry. Beat altogether and take half a spoonefull at a time in a wine cupfull of your beere.


<h2 class="h3 text-color-blue pt-2">19. For the Scurvy by Galenicus the Duke of Venus</h2>

Drink a strong decotion of wormwood for many dayes together.



<h2 class="h3 text-color-blue pt-2">20. For a Sore throte or King's Evell</h2>

Take guaiacom sliced ℥ iii, the bark of guaiacom ℥ i infuse in 6 quarts of fair water on hott ashes 24 hours. Then boyle it over a gentill fire till a third part be wasted. Then add of epithimum pollipodium ana ℥ ii , fumitory, borrage, and buglose roots, flowers of rosmary, prim rose, cow slips, violets, and sweet fenill seeds of each ℥ ss . Boyle it till a quart be wasted then add sena ℥ iii. Boyl it a litle and straine it and clarifie it with whits of eggs. Sweeten it with sugar. Give 2 or 3 spoonfulls every morning to a child, more to a groune person: enough to give 2 or 3 lous stooles in a daye for 8 days together. This alone have cured the King's Evill.

<h2 class="h3 text-color-blue pt-2">21. For [ . . .]</h2>

Take cleere turpentine ʒ i and ruberb 1/2 ʒ in fine powder; mix them and take for many days together.

<h2 class="h3 text-color-blue pt-2">22. For Paine in the Eare</h2>

Take mithredate and put it into the eare with a litle wooll and keep it warme.

<h2 class="h3 text-color-blue pt-2">23. For a Cough</h2>

Take eggs boyle them till they bee hard, hold them in your hand one at a time as hott as you can suffer it and with the heat and strenght of your hand press out the oyle, take a quantity of this oyle and a little powder of alloes and fine sugar. Make it into a surrup. Take a litle of this surrup as often as need require. This is comended by G: as if non could equall it.


<h2 class="h3 text-color-blue pt-2">24. A Balsam or Liquer that will heal sores as for new in man or beast</h2>

Tak very strong wort 3 gallons being all the first of a boushell of good malt. Then tak of comfry roots and elder roots of each 2 handfuls, the leaves of crud tobacko a handful. Lett the roots be brused and boyled till half be wasted. Put it into a vessell and keep for use. Put into it 3 pounds of hony before you take it of the fire. If it be a deepe sore, tent it. If an open sore, wett a duble clout and lay on the sore. Dress it always warme.

<h2 class="h3 text-color-blue pt-2">25. For the Sciatica or Paine in the back or side</h2>

Take smale fern and steepe a handfull of it in a pint of wine all night and drink it in the morning fasting.


<h2 class="h3 text-color-blue pt-2">26. For Dissines in the Head</h2>

Tak fetherfew and steepe it in beer and drink first at morning and last at night.


<h2 class="h3 text-color-blue pt-2">27. A powder for the dissiness of the head, falling sicknes, and hart qualms that have bin oft used</h2>

Whit amber ʒ ii, diarrhodian abatis ʒ ss, seeds of peony ℈ ii, miselto ʒ i, the fillings of a dead man’s skull ℈ i: mak all into very fine powder and tak of it as much as will ly on a shilling 2 or 3 nights together befor the new and befor the full moon. Take it in saxony or bettony water.


<h2 class="h3 text-color-blue pt-2">28. For Rumatick Paines and to coole the Liver</h2>

Tak the conserve of the frut of sweet brier as much as a good nutmage morning and evening.


<h2 class="h3 text-color-blue pt-2">29. For the Stoping of the Menstrus</h2>

Tak nutmegs ℥ i, cinamon ʒ ii, safron ʒ i, cloves if you please ʒ i or ʒ ss, [iron] calsined the waight of all the rest al in fine pouder, dose as much at a time as will ly on a broad [shilling] morning and evening and a cup of good madera wine after it ther maye be added salt absinthiom or tobacco.


<h2 class="h3 text-color-blue pt-2">30. An Excelent medisen to break a sore with speed or few howers</h2>

Take the iner bark of the roots of white thorne. Bruise it well and laye it upon the place whare you se best for the sore to break and after a litle while it will draw very strongly till the sore break and then will ceace then you may dress the sore with other medisin at your desir.




<h2 class="h3 text-color-blue pt-2">31. For Vometing and Loosnes in Men, Women, and Children</h2>

Take an egg break a little hole in one end of it and put owt the white then put in about 1/2 spoonfull of baye salt. Then fill up the egg with strong rom or spirits of wine and sett it in hott ashes and lett it boyle till the egg be dry then take it and eat it fasting and fast an hour after it or drink a litle distilled waters of mint and fenill which waters mixed together and drank will help in most ordinary cases. cr


<h2 class="h3 text-color-blue pt-2">32. For a Person that is Distrated: if it be for a Woman</h2>

Tak milk of a nurce that gives suck to a male child and also tak a hee catt and cut of one of his ears or a peece of it and lett it blede into the milk and then lett the sick woman drink it. Doe this three times.



<h2 class="h3 text-color-blue pt-2">33. An [. . .] the Gout</h2>

Take planten water, hisop water, and brandy, and creame that is not too new. Boyle them together to an oyntment and anoint the place grived twice or 3 times a day.


<h2 class="h3 text-color-blue pt-2">34. For a bruse in any part of the boddy</h2>

Take of honey a spoonfull and yest or barme or the emptings of strong beer twice as much warm them and mix them together and apply it to the place greeved. Admireable affects have bin wroght by this means. It hath seldom fayled in casses very difficult in any part of the boddy though the bones have semed to be brused though it hath bin in head and in broken bones it easeth paine and unites the bones sodainly.



<h2 class="h3 text-color-blue pt-2">35. For the J[andis]</h2>

Take the juce of planten and camomell 3 or 4 spoonfuls in warme posset ale morning and evening. It helps in few days. Mix turmarik and safron made into fine powder and drank twice or 3 times a day in possett ale is exelent good. Dose ℈ i or lett the sik person drink their one urin twice a day or the volatile salt of [urine] morning and evening in posset ale.


<h2 class="h3 text-color-blue pt-2">36. To Eas Paines in Feavers</h2>

Tak cardamoms or graines of paradice ℥ i, nutmegs ℥ ss, safron ℈ ii, sugar ℥ ii. Mak it to fine pouder and give at any time as much as will ly on a shilling at a time. My pill is better if the boddy be loos.




<h2 class="h3 text-color-blue pt-2">37. For  [     ]ing  Cough</h2>

Tak of aniseeds, liquerish, and elecompaine roots ana ℥ i. Make it to very fine pouder, loafe suger [pound] i. Search them through a lane sive then take the remainder that will not go through the sive with fenill, sage, broad time, and sinquefile of each a smale handfull. Stamp them well and byle them in 3 pints of water till a pint be wasted then straine it out and ad som more suger to mak it into syrup then put it up for use. The use of it is take a peec of whit bread and mak a toste euery morning and evening and take as much of the syrup as will wett it then tak as much of the pouder as will ly one a shilling and strew it upon the tost and eat it and drinke 2 or 3 spoonfuls of the syrup.



<h2 class="h3 text-color-blue pt-2">38. For the [        ] and Loosnes</h2>

Rubarb sliced and made very dry and beten to pouder and give half a dram at a time; oyl of cinamon is very good 3 or 4 drops at a time; oyle of fenill and mint is very good.

<h2 class="h3 text-color-blue pt-2">39. For the Colik or Flux in the Belly</h2>

1 the powder of wolves’ guts
2 the powder of bores’ stones
3 oyle of wormwood a drop or 2 into the navell
4 3 drops of oyle of fenill and 2 drops of oyle of mints in conserve of roses or conserve of single mallows, if the paine be extream use it againe, and if need require aply somthing hott to the belly.



<h2 class="h3 text-color-blue pt-2">40. For sharpe and dificult travel in women with child; By J C</h2>

Take a lock of vergin's haire on any part of the head, of half the age of the woman in travill. Cut it very smale to fine pouder then take 12 ants eggs dried in an oven after the bread is drawne or otherwise make them dry and make them to pouder with the haiere. Give this with a quarter of a pint of red cow's milk or, for want of it, give it in strong ale wort.


<h2 class="h3 text-color-blue pt-2">41. A Wonderful Balsam for fistulos and ulcers</h2>

Take borax ℥ ii put it into a strong stone botle of 2 quarts: stop it close with a good corke and then cover it with sealing wax very close and sett it into the bottom of a well or cold spring the space of three yeeres then take


it out [when it will] al be turned to a balsam whare with you may dress sores.


<h2 class="h3 text-color-blue pt-2">42. For a Cancer in a Woman's Brest</h2>

A woman at Casko bay had a cancer in har brest which after much menes used in vaine they aplyed strong beer to it with duble cloths which it drank in very greedyly and was somthing eased afterwards. Beer fayling, they used rum in like maner which seemed to lull it asleep. Afterwards they put arsnik into it and dressing it twice a day it was parfectly whol. In the meane time har kind husband by suking drewe har brest with the losse of his fore teeth without any farther hurt. Re N England's experiences.

<h2 class="h3 text-color-blue pt-2">43. For the  [. . .]</h2>

Tak Roman vitriall and disolve it in water till it look blew then bathe the part affected pretty warme with a ragg or a bitt of spunge twice a daye and when you have done bathing sitt awhile upon a hott oake bord every time you bath it.

<h2 class="h3 text-color-blue pt-2">44. Balsam of Peru is Exelent for wounds being aplyed hott with lint and the lips of the wound kept close. It's also as good for bruses aplyed warme as soone as may be after the hurt.</h2>


<h2 class="h3 text-color-blue pt-2">45. To Stench Bleeding in a Wound</h2>

Take a peec of salt beef and rost it in the hott ashes then make it cleane and put it into the wound and the blood will stop imediatly.

Image 32 p-16_page_ 27-28_016 done


<h2 class="h3 text-color-blue pt-2">46. [. . .] Pill</h2>

Take equal parts of India salt peeter and the best white Rhenish tartar and pound them and drive them through a haire sieve and in a yellow pipkin or new chamber pott of earth sett upon charcoal, put it in by spoonfuls till all be burned white. This is called the salt of tartar. Note if it will not fire, touch it with a live coal and it fires. While this is warme, pound it to grose pouder and put it into a well glazed dish or, which is better, a glass body and lett it stand covered with the oyl of turpentine two fingers high above the tartar; stir it with a wodden spattula. Supply it with oyl that it be always covered for six moneths till it



be [. . .] to sope or be of a [body] the thickness of grease or an electuarie. This is the true corrector of opium and all vegetive poysons and the greatest treasure in the world. Take of this corrector two pound, of opium one pound, of white hellebor in pouder one pound, English liquorish one pound. Lett all be sifficiently incorporated at severall times by a strong arm in an iron morter. Be sure the corrector have thorough ingres and have a care to chuse opium wrapped in the leaf, ells it may be sofisticated, and then you will lose your operation.



<h2 class="h3 text-color-blue pt-2">47. For to mak a man vomit presantly that is sick at His stomack</h2>

Take white copperes ʒ i in powder in a litle beere or water and it will cause one to vomit presently.

<h2 class="h3 text-color-blue pt-2">48. For the Plurisie</h2>

Take the leaves of wild mallows and boyl them in oyle and being taken out, bray them in a morter, and put them into a peece of lining cloth, and applie it to the grefe, and presantly it will cause the paine to cease. Don Alexis

<h2 class="h3 text-color-blue pt-2">49. For the Plurisies</h2>

Take an apple that is of a sweete sente and taste in it a hole taking out the core so that the hole goeth not thorow and put into the hole 3 or 4 graines of frankincense of the male kind, otherwise called olibanum, then cover againe the saide hole with the little pece of apple that you tooke of first and rost it apon the embers so that it burne not but that it may waxe tender then take it from the fire.

Image 36 r-18_page_ 31—32_018 done


and breake it into fower parts with all the frankencense in it and so give the patient it to eate. It will by and by make the impostume to break and heale him. Don Alexis

<h2 class="h3 text-color-blue pt-2">50. A water of marvellows and excellent vertue to bring the sight of the eies to him that hath lost it or deminished by siknes</h2>

Take ʒ iii of tutia mad in powder very smale and as much aloe epaticum in powder, ʒ ii of white suger



and [six unces] of rose water, six unces of good white wine rather swete then other wine, but too sweet wine is not commendable. Mix all these togither and put it in sum cleene vessel of glasse and being well closed and stopt set it in the sun a moneth together continually mixing and stiring together all the sayd thing once a daye at least to the intent they maye incorporate well together. This done, take of the same water and put certaine drops of it upon your eyes morning and



evening and in continuing so a certaine space it will cause the sight to coume againe as cleere and as pure as ever it was before. Don Alexes


<h2 class="h3 text-color-blue pt-2">51. For the Shingles</h2>

Take howseleeke, catt’s blod, and creame mixed together and oynt the place warme or take the mose that groweth in a well and catt’s blod mixed and so aply it warme to the plase whare the shingles be.



<h2 class="h3 text-color-blue pt-2">52. For the goute</h2>

Take Ligmamuita ℥ xvi, Sarssaparilla ℥ viii, fennel seeds ℥ vi. Boyle them in 2 gallonds of water in a pott close stopped till halfe be consumed then put it up in a glasse botle well stopped and every morning take sumthing less then a gill and so in the evening. Then take those ingredients and boy[l]e it over againe in 2 or 3 gallonds of water more and so keepe it for your continiuall drinking at any time during the time of your illness. Proved very affectiall apon a man at Dunkerck.

Image 41 u-21_page_ 37—38_021 done

<h2 class="h3 text-color-blue pt-2">53. Clefts of the hands and feet in De Lue Veneria</h2>

Hercules Saxonia De Lue Vener chap 30 writes that he hath observed a certaine woman who for eight years together had clefts in har hands and had used the help of all the Venetian and Padua doctors to no purpose, was in a short time easily cured withe juce of an herb which some cal mugwort, other's tansie, being carefully dropt with a feather into all the clefts and forbaring to wash har hands at all and that he hath found the same juyce profitable in ringworms and crusty ulcers.

Image 42 u-21_page_ 37—38_021 done

<h2 class="h3 text-color-blue pt-2">54. Basilicon the Geater</h2>

Take of white wax, pine rozin, heifer's suet, Greek pitch, turpentine, olibanum, mirrh, of each one ounce, oyle five ounces, powder the olibanum and mirrh, and the rest being melted, make it into an oyntment according to art.


<h2 class="h3 text-color-blue pt-2">55. Basilicon the Less</h2>

Take of yellow wax, fat rozin, Greek pitch, of each half a pound, oyle nine ounces. Mix them together by melting them according to art.

Both this and the former heat moisten and digest, procure matter in wounds, and bring the filth or corrupted blood from green wounds. They clense and ease pain.



<h2 class="h3 text-color-blue pt-2">56. Unguentum Dialthoea or Oyntment of Marsh Mallows</h2>

Take of common oyl four pound, mussilage of marsh mallows roots, linseeds and fenugreek seeds two pound. Boyl them together til the watry part of the mussilage be consumed then add wax half a pound, rozin three ounces, turpentine an ounce. Boyle them to the consistance of an oyntment. But lett the mussilage be prepard of a pound of fresh roots bruised and halfe a pound of each of the seeds steeped and boyled in eight pound of spring water and then presse it out. This heat and moysten helps pains of the breasts coming of cold, and


pleurisie, [. . .] aches, and stitches, and softens hard swellings.


<h2 class="h3 text-color-blue pt-2">57. Unguentum Egyptiacum</h2>

Take of vert de greece finely poudred five parts, honey fourteen parts, sharp vinegar seven parts. Boyle them to a just thicknes and a reddish color. It clenseth filthy ulcers and fistulues forcibly and not without paine. It takes away dead and proud flesh and dries.

Zerobabel Endecott
1679



<h2 class="h3 text-color-blue pt-2">58. Arceus, his Liniment</h2>

Take of gum elemi, turpentine of the fir tree of each one ounce and an halfe, old sheep suet clensed two ounces, old hog’s greas cleansed one ounce. Mix them and make them into an oyntment according to art.

It is used in fractures in the skull and for wounds and ulcers in the skull, and exelent for ulcers if not too sanious in any part of the body though in the feet. It gently clenseth and filleth up an ulcer with flesh it being of a mild nature and freindly to the body.


<h2 class="h3 text-color-blue pt-2">59. Unguentum Nicotiana or oyntment of Tobacco</h2>

Take of tobacco leaves bruised two pound: steep them a whol night in red wine. In the morning boyl it in fresh hog’s greas, dillegently washed, one pound, till the wine be consumed. Strain it and ad half a pound of juyce of tobacco, rozin four ounces. Boyl it to the consumtion of the juyce adding towards the end round birthwort roots in pouder two ounces, new wax as much as is sufficient to make it into an oyntment.

The vertues of this oyntment is to cure tumors, aposthums, wounds, ulcers, gun shot botches,



scabs, itch, stinging with nettles, bees, wasps, hornets, venemous beasts, wounds made with poysoned arrows. It helps scoldings though made with oyle, burnings though with lightning and that without scar. It helpeth nasty, rotten, stinking, putrifyed ulcers though in the legs, whether the humors are most subject to resort. In fistulaes though the bone be afflicted, it shall scale it without any instrument and bring up the flesh from the very bottom. A wound dressed with it will never putrify. A wound mad with so smale a weapon that no tent will follow, anoint but with this and you need not fear any dainger. If your head ach anoint your temples


with this and it shall have ease. The stomack being anointed with it, no infirmity dares harbor there, no not asthmaes nor consumtions of the lungs. The belly being anointed with it helps the collik and illiack passion and the worms. It helps the hemorrhoids or piles and is the best oyntment for gouts that is, of all sorts. Joubertus


<h2 class="h3 text-color-blue pt-2">60. Pilula R[u]ffi</h2>

Take of alloes two ounces, mirrh one ounce, saffron half an ounce, with syrup of the juyce of lemmons mak it into a mase according to art.

A scruple taken at nite going to bed is an excellent preservative in pestilentiall times. Also they clense the body of such humors as are gotten by surfets. They strengthen the heart and weak stomach and work so easily that you need not fear following your business the next day.



<h2 class="h3 text-color-blue pt-2">61. Oyl of Roses</h2>

Take roses and infuse them in good oyle ollive in a glase in the heat of the sun for sartaine days while the oyl smeles like roses. Oyl of Hipericon is made after the same manner.


<h2 class="h3 text-color-blue pt-2">62. The Preparation of Steel</h2>

Take fillings of steel well clensed with a load stone moysten them well 12 times with good sharp white wine vineger. Dry it in the sun or a dry air. Beat it in an iron


morter [. . .] it upon a marble with a litle cinnamon water and so bring it into a very fine powder.


<h2 class="h3 text-color-blue pt-2">63. Crocus Metallorum</h2>

Take of the best [antimony] and [nitre] of each equall parts beat them into powder severally then mixe them together. Put them into a hot crucible with a ladle or other instrument. Let it be beaten while the noise seaseth then remove it from the fire and coole it. Then the vessell being broken, separate it from the white crust at the top and keepe it for use.



<h2 class="h3 text-color-blue pt-2">64. Lapi[s] Infernalis</h2>

Take of ly of which black soap is made and boyl it to a stone in a frying pan. Do not consume all the humor. When it is cold, cut it in the form of a dice and keepe it in a glass close stopped.


<h2 class="h3 text-color-blue pt-2">65. The Preparation of Opium</h2>

Dissolve the opium in spirits of wine, straine it, and evaporate it to its due consistence.

Zerobabel Endecott



<h2 class="h3 text-color-blue pt-2">66. Emplastrum De Meliloto Simplex or A Plaister of Melilot Simple</h2>

Take of rozein eight pound, yellow wax fowr pound, sheep’s suet two pound. These being melted ad green mellilot cut smale five pound. Make it a plaister according to art.

It is a gallant drawing and healing plaister, no way offensive to any part of the body. It clenseth wounds of their filth, ripeneth swellings and breaks them and curs them when it hath done. It is spetiall good for those swellings vulgarly in London called fellons, in Sussex Andicoms. Onely have a care of applying to the legs because of its drawing quality to any other part of the boddy in a sore that hath any putrefaction in it is none of the worst plaster.



<h2 class="h3 text-color-blue pt-2">67. For a fractur of the scull</h2>

After the scull is layed open and the bones taken out by a levetur or cut by a trapan then fitt a pece of parchment of the same bignes that the fractur is and oynt it with mell rosarie or huny of roses and also the edges of the bone of scull and so put it in gently on apon the dura mater that covers the braines and apon that a good plegen of tow and a good bolster on that and so continue that dresing while it is all most well and the bone he's cast of and then finish the



cure with Arseaus, his linement. Your parchment must have a thrid fastened in the midle as this figure shewethe.

<h2 class="h3 text-color-blue pt-2">68. Balsam Water</h2>

Take white vitriole and put in faire water in a botle and stop it close and when you aplye it to a wound mak it hott. If you aply it to the eyes, aply it cold. Romen vitrioll is very good.


<h2 class="h3 text-color-blue pt-2">69. Great swelling by a spraine or humer</h2>

Take brande and neats foote oyle and mixe them well, and chafe it in very hott and then put a pece of blew paper to it will take awaye the swelling pressantly.

<h2 class="h3 text-color-blue pt-2">70. For Cutts or Sores</h2>

Take the scine of salt beefe and so laye it to the cutt or sore.


<h2 class="h3 text-color-blue pt-2">71. For to heale or dry up a sore</h2>

Take sallet oyle and read lead and boyle it well together and dipe peces of lining cloath in it. Keep them for use.

<h2 class="h3 text-color-blue pt-2">72. For the Ague</h2>

Take the drye shell of a turtell beat smale and boyled in water while 2 thirds of the water be consumed and drinke of it 2 or 3 times when the ague cometh.


<h2 class="h3 text-color-blue pt-2">73. [. . .] For the Gonorea</h2>

Rec. Take the concerve of bettony flowers ℥ vi: Bole, [?] dragon’s blood ana ℥ ii, blood stone ʒ ii, Venes tarpentine ℥ i; mix them together.

<h2 class="h3 text-color-blue pt-2">74. Sperrits of Urin</h2>

Take a great quantity of urin and lett it ferment and stinke then lett it freeze hard and then drawe of that part which is not frozen and distill it in a limbick three times taking every time the one halfe in distilling then mix in a litle sperits of wine twice destilled. It is very good in paines of the stomack and in feavers to eas paines


in the stomack [. . .] 2 or 3 d[r]opes given in beere or water to chilldren, to men or wimin 7 or 8 drops at a time.

<h2 class="h3 text-color-blue pt-2">75. Sperits of Venus</h2>

Take aes veridis or vardigres and put it into a retort of glasse without any mixture and destill of a sperits. It is very good against worms in children or elder people 3 or 4 or 5 drops given in beere or water in a morning fasting or at nite after super.


<h2 class="h3 text-color-blue pt-2">76. [. . .] Pills</h2>

Take amber and mastike of each one quarter of an ℥, alloways ʒ v, agrick ʒ i s, aristalochia ʒ s, and beat them very smale and sift them through a very fine sive and temper them with sirup of wormwood and make it up into pills about the bignes of a great pea and take 2 or 3 of them as often as you please when you goe to bed, which will presarve the stomache from all deseases and suffer nothing to putrify in it and strengthen the head and the hart and clenens the raines and the wombe.

Probatum Easte
January the 10 1681


<h2 class="h3 text-color-blue pt-2">77. The Greene Oyntment that Ms Feeld did use to make</h2>

It cureth all spraines and aches, cramps and scaldings and cutts. Healeth all wounds. It doth suple, molyfy, ripen, and desolves all kind of tumors, hot and cold, and it will heal olde rotten sores and bites of venemos beasts, itch and mangenes and stench bloud. It easeth swelling and paines of the head and throate, eyes and eares, gout and seattica, and all outward greefes.

Take baye leaves, wormwood, sage, rue, cammemoyle, mellelote, groundsell, violets, plantaine, oake buds or


leaves [. . .] suckery, pursline, lettuce, red colworts, Saint John’s wort, mallows, mullin, isop, sorrell and comfry, yarrow, and dead nettels, and mint, mugwort, rose leaves, gather them all in the heat of the daye, pick them cleene but wash them not. Beat them well then take sheep's suett three pound. Picke it cleene and shrid it smale. Pound them all well together, then take 2 quarts of sallet oyle then work them all together with your hand till it be all alike then put it in an earthen pott and cover it close and lett it stand 14 dayes in a coule place. Then sett it over a softe fire and lett it boyle 14 howers stiring it well. Then put into it 4 ounces of oyle of spicke then straine it through a corse cloath and put


it into [. . .] pott and cover it cloase and keepe it for your use. ZE Probatem


<h2 class="h3 text-color-blue pt-2">78. For the Toothe Ache</h2>

Take a litle pece of opium as big as a great pinnes head and put it into the hollow place of the akeing tooth and it will give preasant ease, often tryed by me apon many people and never fayled. Zerobabel Endecott


<h2 class="h3 text-color-blue pt-2">79. [. . .] Bloody Fluxe</h2>

Take the harts of dolfins and dry them and grate them to powder and give a spoonefull of the powder in rome or brandy and it is a presant remedy. Also the harts of other fish is verry good used in the same manner. Probatum ZE


<h2 class="h3 text-color-blue pt-2">80. Docr [. . .] wotor</h2>
Rx take three quarts of muscadine and boyle in it sage, rue of each a handfull untill one [part] be wasted. Straine it. Set it over the fier ading their to a draghm of long peeper, ginger, nutmegs of each 1/2 oz wel brused. Boyle it a lettle. Ad 1/2 oz [treacle] Andromichus, three draghms of Metheradate, 4 oz of Aq Angelica and a sat[isfactory] quantity of the rootes. This water as saith the author should be kept as the life or as the [most] preshes thing in the world.
The dose is halfe a spoonefull.

<h2 class="h3 text-color-blue pt-2">81.</h2>

</div>
</div>
</div>
