<table class="table table-sm align-middle">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% soldiers.each do |soldier| %>
      <tr>
        <td>
          <%= link_to(
                [soldier.first_name, soldier.last_name].compact.join(" ").presence || soldier.slug,
                soldier
              ) %>
        </td>
        <td>
         <td>
 <%= render "shared/category_badges", categories: soldier_badge_categories(soldier) %>
</td>

        </td>
        <td>
          <%= (defined?(l) ? l(soldier.created_at, format: :short) : soldier.created_at)
              rescue soldier.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
