<!-- Sidebar (optional: show just medal-categories)

If you want the sidebar to list only medal-categories too, switch it to use @medal_categories:-->
<!-- app/views/soldiers/_soldierssidebar.html.erb -->
<div class="section">
  <h4 class="py-2 text-color-blue"><strong>Medal Categories</strong></h4>
  <% (@medal_categories || []).each do |category| %>
    <h4><%= link_to category.name, soldiers_path(medal_category_id: category.id), class: "even-larger-badge badge badge-pill badge-info mr-1" %></h4>
  <% end %>
</div>
