
<h1>Soldiers</h1>

<%= render "search_form", soldier: @soldier %>
<%= render "pager" %>
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-12 col-md-10">
      <% Array(@soldiers).each_slice(3) do |row| %>
        <div class="row">
          <% row.each do |soldier| %>
            <div class="col mb-3">
              <%= render partial: "card", locals: { soldier: soldier } %>
              
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render "pager" %>
    </div>

    <div class="col-12 col-md-2">
      <%#= render "sidebar" %>
    </div>
  </div>
</div>
