<h1><%= controller_name.titleize %></h1>
<ul>
  <% @records.each do |r| %>
    <li><%= link_to(r.try(:title) || r.try(:name) || r.try(:slug), r) %></li>
  <% end %>
</ul>
<p><%= link_to "New", url_for([:new, controller_name.singularize]) %></p>
