<div class=container">
  <footer class="sticky-bottom footer bg-info py-3">
   <div class="container text-center text-white"><%= link_to '@JEFA, inc. All Rights Reserved 2013-2022', "https://www.endecottendicott.com", class: "text-white text-bold" %> <i class="fas fa-seedling text-white"></i></div>
  <p class="text-white text-center "><%#= link_to "Site Map", links_path, class:"text-white" %></p>
  <p class="text-white text-center "><%= link_to "Facebook", "https://www.facebook.com/groups/887928701416739", class: "text-white text-bold" %> <i class="fab fa-facebook-square"></i></p>
   <!-- <h5 class="text-center card-title text-color-blue"><%#= link_to 'Need Help?', welcome_help_path %></h5> -->
</footer>
</div>

 <!-- see footer notes -->
